//
// Headings
//

h1, h2, h3, h4, h5, h6{
  margin-bottom: 0;
}

h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
	line-height: 1.3;
  font-weight: 700;
}



h1,
.h1 {
	font-weight: bold;
  font-size: 64px;
  line-height: 120%;
}


h2, .h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  font-family: $font-cardo;
}
h3, .h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
}
h4, .h4 {
  
}
h5, .h5 {
  font-size: 20px;
}
h6, .h6 {
  font-size: 16px;
}

p{
  font-size: 16px;
  line-height: 160%;  
  font-family: $font-fira;
  &:last-child{
    margin-bottom: 0;
  }
}

@include media-breakpoint-down(sm) {

  h1, .h1{
    font-size: 26px;
    line-height: 26px;
  }

  h2, .h2{
    font-size: 32px;
  }

  h3, .h3{
    font-size: 24px;
  }

  p{
    font-size: 14px;
  }
}