.filter{
    background: #FFFFFF;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    padding: 20px;
    position: sticky;
    top: 90px;
    left: 0;
    width: 100%;
    &__group{
        margin-bottom: 25px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__group-title{
        font-weight: bold;
        font-size: 19px;
        line-height: 120%;
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        svg{
            stroke: #BBC3D8;
            transition: 0.3s;
        }
        &.active{
            color: $brand-color;
            svg{
                stroke: $brand-color;
                transform: rotateX(180deg);
            }
        }
        &:hover{
            color: $brand-color;
        }
    }
    &__group-body{
        padding-top: 12px;
        display: none;
        .checkbox{
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.checkbox{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    width: 100%;
    cursor: pointer;
    &__input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked ~ .checkbox__marker{
            background-color: $brand-color;
            border-color: $brand-color;
            &::after{
                opacity: 1;
            }
        }
        &:checked ~ .checkbox__text{
            color: $brand-color;
        }
    }
    &__marker{
        border: 1px solid #D2D7E0;
        border-radius: 2px;
        flex-shrink: 0;
        margin-right: 8px;
        position: relative;
        width: 12px;
        height: 12px;
        transition: 0.3s;
        overflow: hidden;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../img/checbox-icon.svg);
            background-repeat: no-repeat;
            background-position: center;
            transition: 0.3s;
            opacity: 0;
        }
    }
    &__text{
        font-size: 16px;
        line-height: 120%;
        font-family: $font-fira;
        color: $black;
        transition: 0.3s;
    }
    &:hover{
        .checkbox{
            &__text{
                color: $brand-color;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .filter-display-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        font-size: 20px;
        &.active{
            background-color: $brand-color;
            color: #fff;
        }
    }

    .filter{
        margin-bottom: 20px;
        display: none;
    }
}