.promo{
    position: relative;
    overflow: hidden;
    .slick-active{
        .promo{
            &__title{
                transform: translateX(0);
                opacity: 1;
            }
            &__btn-wrap{
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
    &__slider{
        position: relative;
    }
    &__slider-item{
        height: 600px ;
        display: flex !important;
        align-items: center;
        position: relative;
        background-image: url(../img/main-section-bg.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(15, 2, 53, .7);
        }
        .container{
            position: relative;
            z-index: 2;
        }
    }
    &__title{
        color: #fff;
        max-width: 780px;
        margin-bottom: 25px;

    }

    &__btn-wrap{
        //transition: 0.8s ease;
        //transform: translateX(-100px);
        //transition-delay: 0.4s;
        //opacity: 0;
    }
    .btn{
        margin: 0;
    }
    &__nav{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: calc( (100% - 1360px) / 2 + 41px );
        z-index: 1;
    }
    &__nav-bg{
        width: 100%;
    }
    &__nav-zodiaks{
        position: absolute;
        top: -41px;
        left: -41px;
        width: calc(100% + 82px);
        height: calc(100% + 82px);
        animation: round 25s linear infinite;
    }
    &__nav-prev{
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1;
        transition: 0.3s;
        &:hover{
            opacity: 0.65;
        }
    }
    &__nav-next{
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1;
        transition: 0.3s;
        &:hover{
            opacity: 0.65;
        }
    }
}



@keyframes round {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@include media-breakpoint-down(xl) {
    .promo{
        &__title{
            max-width: 60%;
            font-size: 56px;
        }
        &__nav{
            right: calc( (100% - 1140px) / 2 + 41px );
            width: 380px;
            height: 380px;
        }
    }
}

@include media-breakpoint-down(lg) {
    .promo{
        &__slider-item{
            height: 500px;
        }
        &__title{
            font-size: 48px;
        }
        &__nav{
            right: calc( (100% - 960px) / 2 + 41px );
            width: 300px;
            height: 300px;
        }
    }
}

@include media-breakpoint-down(md) {
    .promo{
        &__title{
            font-size: 40px;
        }
        &__nav{
            right: calc( (100% - 720px) / 2 + 41px );
            width: 300px;
            height: 300px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .promo{
        padding: 0;
        &__slider-item{
            align-items: flex-start;
            padding-top: 25px;
            height: 560px;
        }
        &__title{
            text-align: center;
            margin-bottom: 20px;
            max-width: 100%;
            font-size: 26px;
        }
        .btn{
            margin: 0 auto;
        }
        &__nav{
            right: 50%;
            transform: translateX(50%);
            bottom: 60px;
            top: auto;
            width: 280px;
            height: 280px;
        }
    }
}
